body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(208, 207, 252, 0.788);
}
h1{
    text-align: center;
}
tbody > tr{
    background-color: rgb(183, 202, 255);
}
table{
    margin: auto;
    width: 500px;
    border-collapse: collapse;
    position: relative;
}
thead, tfoot th{
    background-color: rgba(136, 11, 11);
}
thead th{
    top: -1px;
    background-color: rgba(136, 11, 11);
}
td{
    background-color: white;
}
td, th{
    border: 1px solid black;
    padding: 4px;
}
